.body {
  width: 100%;
  margin: 0;
}

.bold {
  font-weight: 800;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 60px
}

.margin-top-30 {
  margin-top: 30px


}

.wrapper-marvel {
  background-image: url('space.jpeg');
  display: flex;
  align-items: center;
}

.wrapper-marvel-small {
  height: 50vh;
}

.wrapper-marvel-big {
  height: 100vh;
}

.white {
  color: white
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-plus-circle {
    font-size: 25px;
    color: black;
  }
}

.medium {
  font-size: 28px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.padding-left {
  padding-left: 18px;
}

.padding-left-40 {
  padding-left: 40px;
}


@media (max-width: 900px) {

  .wrapper-marvel {
    display: block;
    height: 100%;
  }

   h1 {
    font-size: 25px !important;
  }

  h2 {
    font-size: 20px !important;
  }
}
