.cards {
  // margin-top: 30px;
  // height: 100%;
  // width: 100%;
  margin-bottom: 30px;


  ul {
    list-style: none;
    color: black;
  }

  li {
    height: 100%;
    list-style: none;
  }
}


// #new-card {
//   padding: 20px;
// }

.card-container {
  height: 300px;
  border: solid transparent 3px;
  margin-bottom: 100px;
}

.card {
  height: 258px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  opacity: 1;

}

.card-content {
  height: 258px;
  box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4) !important;
}

.card-image {
  height: 100%;
  background-size: cover !important;
  background-position: center;
  position: relative;
}

.card_link-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}

.card_link-delete {
  // position: absolute;
  // right: 15px;
  color: black;
  font-size: 25px;
  font-weight: bold;
  // bottom: 5px;

  &:hover {
    color: $red;
  }
}


// .link-bottom {

// }

// .link-top {
//   top: 5px;
// }

.card-footer {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 20px;
    color: black;
    max-width: 300px;
  }

}




.card-container:hover .card {
  cursor: pointer;
  margin-top: -5px;

}

a:hover {
  text-decoration: none;
  color: black;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}



