.cards {
  // margin-top: 30px;
  // height: 100%;
  // width: 100%;
  margin-bottom: 30px;
}

.card-container {
  height: 300px;
  border: solid transparent 3px;
  margin-bottom: 80px;
}

.card {
  height: 258px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  opacity: 1;

}

.card-content {
  height: 258px;
  box-shadow: 0 26px 24px -16px rgba(0,0,0,0.4) !important;
}

.card-image {
  height: 100%;
  background-size: cover !important;
  background-position: center;

}

.card-footer {
  color: black;
   h2 {
    font-size: 20px;
  }

}



.card-container:hover .card {
  cursor: pointer;
  margin-top: -5px;

}

a:hover {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
