.cards {
  margin-top: 30px;
}

.card {
  height: 450px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  margin-bottom: 30px;
  opacity: 0.9;

}

.card-content {
  height: 400px;
  box-shadow: 0px 2px 13px black;
}

.card-image {
  height: 100%;
  background-size: cover !important;
  background-position: center;

}

.card-footer {
  color: black;
   h2 {
    font-size: 20px;
  }

}



.card:hover {
  cursor: pointer;
    opacity: 1;

  // text-decoration: none;
}

a:hover {
    text-decoration: none;
}
