.link {
  color: black;

  &:hover {
    color: red
  }
}

.link-bold {
  font-weight: bold;
  font-size: 15px;
}



// a:hover {
//   text-decoration: none;
//   color: $red;
// }



@media (max-width: 900px) {
  .show-link {
    display: none;
  }
}
