// /* Main navbar */
// .navbar-marvel {
//   box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
//   background: rgb(50, 50, 50);
//   transition: all 0.3s ease;
//   height: 140px;
//   padding: 0px 30px;
//   display: flex;
//   justify-content: flex-end;
//   flex-direction: column;
// }

.navbar-marvel {
  border-bottom: solid rgba(150, 150, 150, 0.8) 0.5px;
  height: 100px;
  background: rgb(30, 30, 30);
}

.navbar-marvel-top {
  border-bottom: solid rgba(150, 150, 150, 0.6) 0.5px;
  height: 50%;
  text-align: center;
}

.navbar-marvel-bottom {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo */
.navbar-marvel-brand img {
  height: 100%;
}

/* User Avatar */
.navbar-marvel .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}



/* Basic navbar item */
.navbar-marvel-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-marvel-link {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.navbar-marvel-link:hover {
  border-bottom: solid $red 5px;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
}

/* Dropdown menu */
.navbar-marvel-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-marvel-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-marvel-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-marvel-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}


@media (max-width: 900px) {

  .navbar-marvel {
    // border-bottom: solid rgba(150, 150, 150, 0.8) 0.5px;
    height: 70px;
    background: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-marvel-top {
    text-align: left;
    margin-left: 15px;
    border-bottom: none;

  }
  .navbar-marvel-bottom {
    display: none;
  }

  .dropdown {
    text-align: right;
    color: white;
    margin-right: 15px;
  }

}
